@font-face {
    font-family: 'Kelson Sans Light';
    src: url('../fonts/kelson_sans_light-webfont.eot');
    src: url('../fonts/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_light-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_light-webfont.ttf') format('truetype'),
         url('../fonts/kelson_sans_light-webfont.svg#kelson_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson Sans Regular';
    src: url('../fonts/kelson_sans_regular-webfont.eot');
    src: url('../fonts/kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_regular-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_regular-webfont.ttf') format('truetype'),
         url('../fonts/kelson_sans_regular-webfont.svg#kelson_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson Sans Bold';
    src: url('../fonts/kelson_sans_bold-webfont.eot');
    src: url('../fonts/kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson_sans_bold-webfont.woff') format('woff'),
         url('../fonts/kelson_sans_bold-webfont.ttf') format('truetype'),
         url('../fonts/kelson_sans_bold-webfont.svg#kelson_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}