@import "fonts_kelson.css";
@import "../bootstrap/less/bootstrap.less";
@import "variables.less";

a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

body {
  background: url(../img/box_background.jpg);
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

section {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-1 {
  .container {
    padding-bottom: 23px;
  }
  .menu {
    text-align: center;
    a {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .sign {
    margin-top: 30px;
    @media (min-width: @screen-md-min) {
      margin-top: 0;
    }
    .block {
      text-align: center;
      a {
        width: 200px;
        font-size: 20px;
        font-family: @font-family-kelson;
        border-radius: 5px;
      }
    }
    .link {
      text-align: center;
      margin: 5px 0;
      font-size: 16px;
    }
  }

  .line {
    height: 3px;
    background: url(../img/bg-1.jpg) no-repeat 50% 0;
    width: 100%;
  }
}

.section-2 {
  h2 {
    font-size: 26px;
    text-align: center;
    font-family: @font-family-kelson-regular;
  }
  h3 {
    margin: 20px 0 15px;
    text-align: center;
    font-family: @font-family-kelson-regular;

  }
  .big {
    font-size: 18px;
  }
}

.section-3 {
  background: url(../img/bg-lnd10.jpg) no-repeat 50% 0;

  h1 {
    margin: 50px 0;
    text-align: center;
    font-family: @font-family-kelson;
  }
  h3 {
    line-height: 38px;
  }

  .advantage {
    margin: 10px 0 50px;
    ul {
      padding: 0;
      li {
        list-style: none;
        background: url('/img/li-green.png') no-repeat;
        padding: 0 25px;
        margin: 5px 0;
        span {
          font-family: @font-family-kelson-regular;
          font-size: 24px;
        }
      }
    }
  }
  .price {
    ul {
      padding-left: 50px;
      li {
        list-style: none;
        font-family: @font-family-kelson;
        font-size: 28px;
        span {
          font-family: @font-family-kelson;
          font-size: 28px;
        }
      }
    }
  }
}

.payment {
  .item {
    .wrapper {
      background: #fff;
      border: 1px solid #f5f5f5;
      padding: 25px 0;
      border-radius: 5px;
      text-align: center;
    }
    &.active {
      .wrapper {
        background: #efefef;
        .shadow {
          background: url(../img/shadow.png) no-repeat center center;
          bottom: -17px;
          left: 0;
          height: 17px;
          position: absolute;
          width: 100%;

        }

      }
    }
  }

  .method {
    display: none;
  }

}

.pricing {
  .head {
    height: 80px;
    .name {
      background: @brand-primary;
      font-family: @font-family-kelson;
      height: 100%;
      color: #fff;
      text-align: center;
      font-size: 46px;
      text-transform: uppercase;
      line-height: 80px;
    }
  }
  .body {
    margin-bottom: 20px;
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      color: #696969;

      li {
        margin: 0 -15px 0 -15px;
        min-height: 46px;
        line-height: 23px;
        font-size: 19px;
        padding: 5px 0;
        &.even {
          background: #fff;
        }
      }
      &:hover {
        color: #333;
      }
      &.link {
        text-align: left;
        li {
          padding-left: 15px;
          span {
            color: @brand-primary;
            border-bottom: 1px dashed;
          }
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .section-3 {
    .pricing {
      .big_hide {
        display: none;
      }
    }
  }
}

@media (max-width: @screen-phone) {
  .pricing {
    .body {
      ul {
        li {
          min-height: 66px;
        }
      }
    }
  }
}

.section-4 {
  background: url(../img/bg-lnd9.png) no-repeat 50% 0;

  h1 {
    margin: 50px 0;
    text-align: center;
    font-family: @font-family-kelson;
  }
}

.section-5 {
  background: url(../img/bg-lnd10.jpg) no-repeat 50% 0;

  h1 {
    margin: 50px 0;
    text-align: center;
    font-family: @font-family-kelson;
  }
  .rect {
    background: #fff;
    border-radius: 25px;
    position: relative;
    .head {
      background: #2B2F39;
      margin: 0 -15px 36px;
      padding: 15px 15px 0;
      @media (min-width: @screen-sm-min) {
        height: 145px;
      }
      height: 130px;
      text-align: center;
      img {
        margin: 0 auto;
      }
      h2 {
        font-size: 22px;
        font-family: @font-family-kelson-regular;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .line {
      height: 32px;
      background: url(/img/lnd3-rect.png) no-repeat 50% 0;
      top: 130px;
      @media (min-width: @screen-sm-min) {
        top: 145px;
      }
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
}
.rect {
  .body {
    li {
      margin: 10px 0;
      list-style: none;
      min-height: 42px;
      .marker {
        margin-top: 10px;
        font-size: 21px;
        color: #1e73be;
        border: 3px solid;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: block;
        float: left;
        margin-left: -42px;
        line-height: 28px;
        text-align: center;
        font-family: @font-family-kelson-regular;
      }
    }
  }
}


.section-6 {
  background: url(../img/bg-lnd9.png) no-repeat 50% 0;

  h1 {
    margin: 50px 0;
    text-align: center;
    font-family: @font-family-kelson;
  }
}

.section-7 {
  background: #002137;
  color: #fff !important;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.77) !important;
  font-size: 20px;

  .modal {
    color: #000;
    text-shadow: none;
  }

  h4 {
    font-family: @font-family-kelson-regular;
  }

  a {
    color: #fff;
  }

  .modal-body {
    a {
      color: @brand-primary;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 7px 0 0;
      padding: 0;
    }
  }
}

.arrow {
  margin: 50px auto 20px;
  background: url(../img/arrow-l.png) no-repeat 100% 15px;
  text-align: center;
  width: 380px;

  .btn {
    font-size: 20px;
    font-family: @font-family-kelson;
    margin-top: 30px;
    width: 200px;
  }
}

h3 {
  &.light {
    font-family: @font-family-kelson;
  }
}

.login-register {
  .rules {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.nav-tabs {
  font-size: 24px;
  margin: 20px 0;
}

.go-top {
  display: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  text-indent: 100%;
  white-space: nowrap;
  background: #000000;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;

  .translate(0px, 0px);
  .transition-transform(0.35s ease-in-out);
  -webkit-backface-visibility: hidden;

  &:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    color: #ffffff;
    &:before {
      .animation(vertical_loop 0.35s ease-in-out);
    }
  }

  &:before {
    width: 100%;
    height: 28px;
    margin-top: -14px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    text-indent: 0;
    text-align: center;
    font: 28px/28px FontAwesome;
    content: "\f106";
  }

}

@-webkit-keyframes vertical_loop {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -50%);
  }
  50.01% {
    -webkit-transform: translate(0, 50%);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes vertical_loop {
  0% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -50%);
  }
  50.01% {
    -moz-transform: translate(0, 50%);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-o-keyframes vertical_loop {
  0% {
    -o-transform: translate(0, 0);
  }
  50% {
    -o-transform: translate(0, -50%);
  }
  50.01% {
    -o-transform: translate(0, 50%);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}

@keyframes vertical_loop {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50%);
  }
  50.01% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

// min
@media (min-width: @screen-sm-min) {

}

// medium
@media (min-width: @screen-md-min) {
  width: @container-md;
}

