@brand-font: 'Cuprum',sans-serif;


@body-bg: #fff;

@brand-primary: #1e73be;

@panel-bg: #f3f3f3;

//@panel-inner-border: #e7e7e7;

//@border-radius-base: 0;

@btn-primary-bg: @brand-primary;

@container-md: 970px;
@container-lg: @container-md;
@modal-sm: 450px;


@font-family-base: "PT Sans Narrow", sans-serif;
@font-family-kelson: "Kelson Sans Light";
@font-family-kelson-regular: "Kelson Sans Regular";



@font-size-base: 18px;
@text-color: #333;

@input-bg: @panel-bg;
//@input-border: @panel-inner-border;


@font-size-h1:  51px;
@font-size-h2:  44px;
@font-size-h3:  30px;
@font-size-h4:  24px;
@font-size-h5:  18px;
@font-size-h6:  14px;

